<!-- src/app/components/get-all-job-application-by-jobpost-id/get-all-job-application-by-jobpost-id.component.html -->

<div class="job-applications">
  <h2>Job Applications for Job Post #{{ jobPostId }}</h2>
  <div *ngIf="jobApplications.length > 0; else noApplications">
    <div *ngFor="let application of jobApplications" class="job-application">
      <app-favorite-job-application [jobApplicationFormId]="application.id" [userEmail]="userEmail!"></app-favorite-job-application>
      <h3>{{ application.firstName }} {{ application.lastName }}</h3>
      <p>Gender: {{ application.gender }}</p>
      <p>Age: {{ application.age }}</p>
      <p>Address: {{ application.address }}</p>
      <p>Phone Number: {{ application.phoneNumber }}</p>
      <p>Email: {{ application.email }}</p>
      <p>Education Level: {{ application.educationLevel }}</p>
      <p>Speciality: {{ application.speciality }}</p>
      <p>LinkedIn: <a [href]="application.linkedinLink" target="_blank">{{ application.linkedinLink }}</a></p>
      <p>Cover Letter: {{ application.coverLetter }}</p>
      <button (click)="downloadCV(application.cvPath)">View CV</button>
      <button *ngIf="application.additionalDocumentsPath" (click)="downloadAdditionalDocuments(application.additionalDocumentsPath)">View Additional Documents</button>
    </div>
  </div>
  <ng-template #noApplications>
    <p>No applications found for this job post.</p>
  </ng-template>
</div>
