.move-right {
  margin-left: auto;
}
.move-center{
  margin-left: 200px;
}
.move-center-title{
  margin-left: 50px;
}

 .agrandir p {
  width: 250%; /* Ajustez cette valeur selon vos besoins */
  max-width: 400px; /* Ajustez cette valeur pour contrôler la largeur maximale */
}
.move-copy{
  margin-left: 450px;
}
