<header class="header_area">
  <div class="container">
    <div class="row align-items-center">

    </div>
  </div>
</header>
<div class="img-bleu vision">
  <img src="assets/img/bleu-bg.jpg">
</div>

<div class="our-vision-container">
  <div class="our-vision-text">
    <h5>Our</h5>
    <h1><span class="vision-text">VISION</span> <span class="is-text">IS</span></h1>
  </div>
  <p>Be the best-in-class partner for automotive cables and wires. We are committed to exceeding our clients’ expectations by focusing on sustainable growth through:</p>
</div>

<div class="image-container-vision">
  <div class="image-wrapper">
    <img src="assets/img/vision/img-vision1.png" alt="Image 1">
    <div class="caption">
      <span class="arrow">➤</span>
      <span class="text">EXPANDING</span>
      <h4>
        <span class="global">GLOBAL </span><br>
        <span class="presence">PRESENCE</span>
      </h4>

    </div>
  </div>

  <div class="image-wrapper">
    <img src="assets/img/vision/img-vision2.png" alt="Image 2">
    <div class="caption">
      <span class="arrow">➤</span>
      <span class="textS">STRIVING FOR</span>
      <h4>
        <span class="tech">TECHNOLOGY</span><br>
        <span class="EX">& EXCELLENCE</span>
      </h4>
    </div>
  </div>
  <div class="image-wrapper">
    <img src="assets/img/vision/img-vision3.png" alt="Image 3">
    <div class="caption">
      <span class="arrow">➤</span>
      <span class="textSH">SHARING</span>
      <h4>
        <span class="val">VALUES</span><br>
        <span class="succ">& SUCCESS</span>
      </h4>
    </div>
  </div>
</div>
<div class="vision-block-brown">
  <div class="background-image"></div>
  <div class="how"><h4>HOW</h4></div>
  <div class="we-get-there"><h1>WE GET THERE?</h1></div>

  <div class="content-container">
    <div class="content-box">

      <img src="assets/img/vision/check-removebg-preview.png" alt="Achieve Success">
      <p>
        By strengthening our partnerships with our clients, suppliers, and communities.</p>
    </div>
    <div class="content-box2">
      <img src="assets/img/vision/check-removebg-preview.png" alt="Achieve Success">

      <p>By fostering technology and innovation</p>
    </div>
    <div class="content-box3">

      <img src="assets/img/vision/check-removebg-preview.png" alt="Achieve Success">
      <p>By expanding our already broad footprint to offer support to our clients everywhere</p>
    </div>
  </div>
</div>
<!-- New Caption Section -->
<div class="caption-section-vision">
  <i class="fas fa-quote-left-alt"></i>
  <h2>WHY ARE WE SUCCESSFUL?</h2>
  <p>COFICAB has a strong organization and is renowned for being reliable in terms of quality and service. Our company has accumulated a long and rich experience in the industry that started in 1992.<br> Our history goes together with our continuous evolvement to follow tomorrow's technology.<br> We believe that we will keep succeeding, as long as we have a team that is powered by passion and is strongly committed to being the best.</p>
</div>
