<div class="slider_area">
  <div class="single_slider d-flex align-items-center slider_bg_1">
    <video autoplay muted loop id="bgVideo">
      <source src="assets/img/e-COF Power +.mp4" type="video/mp4">
    </video>
    <div class="overlay"></div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-6">
          <div class="slider_text">
            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Find your Job</h3>
            <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
              Discover unparalleled career prospects with COFICAB, where every opportunity is crafted to elevate your professional journey.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<div class="global-leader">
  <h1>Global leader in the design, manufacturing, and sales of automotive cables and wires.</h1>
  <p>Since its creation in 1992, COFICAB has become a reliable partner for the top automotive wiring harness makers and most of the OEMs. With over 19% of the global market share, COFICAB is at the forefront of global megatrends including E-mobility, Connectivity, Autonomous Driving, and Reduction of Weight and Space. We are committed to sustainability-driven growth and innovation.</p>
</div>

<header class="images-home-header">
  <div class="images-home-container">
    <div class="images-home-title">
      <h4>Our</h4>
      <h1>Milestones</h1>
    </div>
  </div>
</header>

<div class="testimonial_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="testmonial_active owl-carousel">
          <div class="single_carousel">
            <div class="milestone-image1 text-center">
              <img src="assets/img/about-us/1milestones.png" class="milestone-image" alt="Milestone 1">
            </div>
          </div>
          <div class="single_carousel">
            <div class="milestone-image2 text-center">
              <img src="assets/img/about-us/2milestones.png" class="milestone-image" alt="Milestone 2">
            </div>
          </div>
          <div class="single_carousel">
            <div class="milestone-image3 text-center">
              <img src="assets/img/about-us/3milestones.png" class="milestone-image" alt="Milestone 3">
            </div>
          </div>
          <div class="single_carousel">
            <div class="milestone-image4 text-center">
              <img src="assets/img/about-us/4milestones.png" class="milestone-image" alt="Milestone 4">
            </div>
          </div>
          <div class="single_carousel text-center">
            <div class="milestone-image5">
              <img src="assets/img/about-us/5milestones.png" class="milestone-image" alt="Milestone 5">
            </div>
          </div>
          <div class="single_carousel text-center">
            <div class="milestone-image6">
              <img src="assets/img/about-us/6milestones.png" class="milestone-image" alt="Milestone 6">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Ligne horizontale placée en dehors du conteneur d'images -->
  <div class="horizontalLine">
    <div class="horizontal-line"></div>
  </div>
</div>



<script>
  $(document).ready(function(){
    $(".testmonial_active").owlCarousel({
      items: 1,
      loop: true,
      autoplay: false,
      nav: true,
      navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
      dots: false
    });
  });
</script>

<div class="aboutCoficab">
  <div class="content-wrapper-about">
    <div class="image-content-about">
      <img src="assets/img/elloumi-2.jpg" alt="Mr. Mohamed Taoufik Elloumi">
    </div>
    <div class="text-content-about">
      <h1>ELLOUMI GROUP</h1>
      <p>COFICAB was founded in Tunisia in 1992 by Mr. Hichem Elloumi and is part of the ELLOUMI Group, the biggest Tunisian industrial and exporting group.</p>
      <p>ELLOUMI Group specializes in various business activities, including automotive, power and telecom cables, wire harnesses, agribusiness, real estate, urban planning, retail, home appliances, consulting, and banking.</p>
      <p>Founded in Tunisia in 1946 by Mr. Taoufik Elloumi, the ELLOUMI Group now includes 30 subsidiaries and employs over 10,000 people globally.</p>
      <h2>AN HOMAGE TO MR. MOHAMED TAOUFIK ELLOUMI</h2>
      <p>Mr. Elloumi (April 1921 - March 2005) founded the leading industrial and exporting group in Tunisia through his hard work and dedication. He established the core values of the Group: respect, equality, integrity, responsibility, dedication, and perseverance.</p>
    </div>
  </div>
</div>

<div class="testimonial_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section_title text-center mb-40">
          <h3>Message from CEO & Chairman</h3>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="testmonial_active owl-carousel">
          <div class="single_carousel">
            <div class="row">
              <div class="col-lg-11">
                <div class="single_testmonial d-flex align-items-center">
                  <div class="thumb">
                    <img src="assets/img/testmonial/elloumi.png" alt="Mr. Hichem Elloumi" height="200" width="200">
                    <div class="quote_icon">
                      <i class="Flaticon flaticon-quote"></i>
                    </div>
                  </div>
                  <div class="info">
                    <p>"COFICAB maintains its commitment to sustainability-driven growth and innovation, with the aim to leave a better world for future generations."</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="single_carousel">
            <div class="row">
              <div class="col-lg-11">
                <div class="single_testmonial d-flex align-items-center">
                  <div class="thumb">
                    <img src="assets/img/testmonial/elloumi.png" alt="Mr. Hichem Elloumi" height="200" width="200">
                    <div class="quote_icon">
                      <i class="Flaticon flaticon-quote"></i>
                    </div>
                  </div>
                  <div class="info">
                    <p>"As we continue to expand our global footprint and improve the sustainability of our operations, we remain committed to reducing our carbon footprint."</p>
                    <span>
                                            <img src="assets/img/testmonial/signature_elloumi-removebg-preview.png" alt="Signature" height="67" width="303">
                                            <br>
                                            M. Hichem ELLOUMI, CEO & Chairman
                                        </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
