.card {
  display: grid;
  place-items: center;
  background-color: #e7e4df;
  padding: 0.5em;
  text-align: center;
}

.container-bloc-calendar {
  display: flex;
  gap: 20px; // Space between card-calendar and note-block
  align-items: flex-start; // Aligns items to the top
}

.card-calendar {
  max-width: 400px;
  width: 600px;
  padding: 20px;
  margin-right: 50px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #e7e4df;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  #title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #0f2137;
  }

  form {
    .form-group {
      margin-bottom: 20px;

      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      }

      &.form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      }
    }

    button#schedule-button {
      display: block;
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #021249;
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
.note-block {
  div {
    max-width: 400px;
    width: 600px;
    padding: 0px;
    margin-right: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #e7e4df;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  * {
    margin: 0;
    padding: 0;
  }

  h4 {
    font-weight: bold;
    font-size: 2rem;
  }

  p {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #0f2137;
    margin-top: -20px;
  }


  ul,
  li {
    list-style: none;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  ul li a {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    height: 10em;
    width: 10em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    transition: transform 0.15s linear;
  }

  ul li {
    margin: 1em;
    position: relative; // Ensure the delete button is positioned correctly within the list item
  }

  ul li:nth-child(odd) a {
    transform: rotate(-4deg);
    position: relative;
    top: 5px;
  }

  ul li:nth-child(even) a {
    transform: rotate(4deg);
    position: relative;
    top: 5px;
  }

  ul li:nth-child(3n) a {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
  }

  ul li a:hover,
  ul li a:focus {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
  }

  ul li:nth-child(even) a {
    position: relative;
    top: 5px;
    background: #cfc;
  }

  ul li:nth-child(3n) a {
    position: relative;
    top: -5px;
    background: #fcc;
  }

  .header-note {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
    transition: color 0.3s;

    &.add-button {
      border: none;
      border-radius: 5px;
      background-color: #d7d4d1;
      color: #b6b2b2;
      font-size: 18px;
      font-weight: bolder;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-right: 10px;

      &:hover {
        background-color: #021249;
      }
    }

    &.delete-button {
      border: none;
      border-radius: 5px;
      position: absolute;
      right:140px; // Adjust positioning as needed
      top: 0%;
      font-size:20px;
      font-weight: bolder;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-right: 10px;

      &:hover {
        background-color: #021249;
      }
    }

  }
}
