<p>Job Post List</p>
<div *ngFor="let jobPost of jobPosts" class="jobPost-container">
  <div class="jobPost-list m-0">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="jobPost-single white-bg d-flex justify-content-between">
          <div class="jobPost-left d-flex align-items-center">
            <div class="jobPost-thumb">
              <img src="img/svg_icon/1.svg" alt="">
            </div>
            <div class="jobPost-content">
              <a [routerLink]="['/admin/get-all-jobApplicationForm-by-jobPost', jobPost.id]"><h4>{{ jobPost.title }}</h4></a>

              <div class="jobPost-links d-flex align-items-center">
                <div class="jobPost-location">
                  <p><i class="fa fa-map-marker"></i> Tunis</p>
                </div>
                <div class="jobPost-dateLine">
                  <p><i class="fa fa-clock-o"></i> {{ jobPost.dateLine }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="jobPost-right">


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
