<!-- JobDetailsComponent Template -->
<div *ngIf="jobPost">
  <div class="bradcam_area bradcam_bg_1">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="bradcam_text">
            <h3>{{ jobPost.title }}</h3> <!-- Remove safe navigation operator -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ bradcam_area  -->

  <div class="job_details_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="job_details_header">
            <div class="single_jobs white-bg d-flex justify-content-between">
              <div class="jobs_left d-flex align-items-center">
                <div class="thumb">
                  <img src="img/svg_icon/1.svg" alt="">
                </div>
                <div class="jobs_conetent">
                  <a href="#"><h4>{{ jobPost.title }}</h4></a> <!-- Remove safe navigation operator -->
                  <div class="links_locat d-flex align-items-center">
                    <div class="location">
                      <p><i class="fa fa-map-marker"></i> Tunis</p>
                    </div>
                    <div class="location">
                      <p><i class="fa fa-clock-o"></i> Part-time</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="jobs_right">
                <div class="apply_now">
                  <a class="heart_mark" href="#"><i class="ti-heart"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="descript_wrap white-bg">
            <div class="single_wrap">
              <h4>Job description</h4>
              <p>{{ jobPost.description }}</p> <!-- Remove safe navigation operator -->
            </div>
            <div class="single_wrap">
              <h4>Responsibility</h4>
              <ul>
                <li>{{ jobPost.responsibilities }}</li> <!-- Remove safe navigation operator -->
              </ul>
            </div>
            <div class="single_wrap">
              <h4>Requirements And Skills</h4>
              <ul>
                <li>{{ jobPost.requirementsANDskills }}</li> <!-- Remove safe navigation operator -->
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="submit_btn">
              <button class="boxed-btn3 w-100" (click)="openModal()">Apply Now</button>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal" tabindex="-1" role="dialog" [class.show]="isModalOpen" [style.display]="isModalOpen ? 'block' : 'none'">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Apply for the job</h5>
                  <button type="button" class="close" (click)="closeModal()">
                    <span>&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <app-job-application [jobPostId]="jobPost.id" (formSubmitted)="handleFormSubmitted($event)"></app-job-application> <!-- Remove safe navigation operator -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="job_sumary">
            <div class="summery_header">
              <h3>Job Summary</h3>
            </div>
            <div class="job_content">
              <ul>
                <li>Published on: <span>12 juin, 2024</span></li>
                <li>Location: <span>Tunis</span></li>
                <li>Job Nature: <span> Full-time</span></li>
              </ul>
            </div>
          </div>
          <div class="share_wrap d-flex">
            <span>Follow Us:</span>
            <ul>
              <li><a href="https://www.facebook.com/CoficabTunisCCE"><i class="fa fa-facebook"></i></a></li>
              <li><a href="http://www.coficab.com"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="https://www.linkedin.com/company/coficab-tunisia"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCCNDTduq7IH4vbPm27RnFKQ"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
