

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

   
   

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Operator</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb">
                                    <img src="assets/img/svg_icon/1.svg" alt="">
                                </div>
                                <div class="jobs_conetent">
                                    <a href="#"><h4>Operator</h4></a>
                                    
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="descript_wrap white-bg">
                        <div class="single_wrap">
                            <h4>Job description</h4>
                            <p>We are looking for a skilled Machine Operator to set up, maintain and operate machinery. You’ll ensure the interminable and efficient running of production.

                                A great machine operator is reliable and able to work with attention to detail and safety standards. On-the-job training is a good way to discover how to do the job better, so you should have willingness to learn and improve. Being a team player is essential since all tasks will require close collaboration with co-workers.
                                
                                The goal will be to ensure that production procedures will be carried on smoothly to maximize efficiency and profits.</p>
                            
                        </div>
                        <div class="single_wrap">
                            <h4>Responsibility</h4>
                            <ul>
                                <li>Set up machines (calibration, cleaning etc.) to start a production cycle
                                </li>
                                <li>Control and adjust machine settings (e.g. speed)</li>
                                <li>Feed raw material or parts to semi-automated machines</li>
                                <li>Inspect parts with precision and measuring tools</li>
                            </ul>
                        </div>
                        <div class="single_wrap">
                            <h4>Requirements and skills</h4>
                            <ul>
                                <li>Proven experience as a machine operator
                                </li>
                                <li>Working knowledge of diverse high-speed machinery and measurement tools (caliper, micrometer etc.)</li>
                                <li>Understanding of production procedures</li>
                                <li>Adherence to health and safety regulations (e.g. constant use of protective gear)</li>
                            </ul>
                        </div>
                        
                    </div>
                    <div class="apply_job_form white-bg">
                        <h4>Apply for the job</h4>
                        <form action="#">
                            <div class="row">
                                
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <input type="text" placeholder="First name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <input type="text" placeholder="Last name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input_field1">
                                        <select class="wide1" >
                                            <option   data-display="Gender">Gender</option>
                                            <option value="1"> Male</option>
                                            <option value="2">Female</option>
                                          
                                            
                                          </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <input type="text" placeholder="Age">
                                    </div>
                                </div>
                   
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <input type="text" placeholder="Adress">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <input type="text" placeholder="Phone number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <input type="text" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input_field1">
                                        <select class="wide1" >
                                            <option   data-display="Education Level">Education Level</option>
                                            <option value="1"> High school level</option>
                                            <option value="2">Baccalaureate</option>
                                            <option value="2">BTP</option>
                                            <option value="2">BTS</option>
                                            <option value="2">CAP</option>
                                            <option value="2">license</option>

                                            
                                          </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <input type="text" placeholder="speciality">
                                    </div>
                                </div>
              
                                <div class="col-md-12">
                                    <div class="input_field">
                                        <input type="text" placeholder="Linkedin link">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <button type="button" id="inputGroupFileAddon03"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                          </button>
                                        </div>
                                        <div class="custom-file">
                                          <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                                          <label class="custom-file-label" for="inputGroupFile03">CV</label>
                                        </div>
                                        
                                      </div>
                                      
                                </div>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <button type="button" id="inputGroupFileAddon03"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                          </button>
                                        </div>
                                        <div class="custom-file">
                                          <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                                          <label class="custom-file-label" for="inputGroupFile03"> additional documents</label>
                                        </div>
                                        
                                      </div>
                                      
                                </div>
                                <div class="col-md-12">
                                    <div class="input_field">
                                        <textarea name="#" id="" cols="30" rows="10" placeholder="Coverletter"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="submit_btn">
                                        <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="job_sumary">
                        <div class="summery_header">
                            <h3>Job Summery</h3>
                        </div>
                        <div class="job_content">
                            <ul>
                                <li>Published on: <span>12 juin, 2024</span></li>
                               
                                <li>Location: <span>tunis</span></li>
                                <li>Job Nature: <span> Full-time</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="share_wrap d-flex">
                        <span>Follow Us:</span>
                        <ul>
                            <li><a href="https://www.facebook.com/CoficabTunisCCE"> <i class="fa fa-facebook"></i></a> </li>
                            <li><a href="http://www.coficab.com"> <i class="fa fa-google-plus"></i></a> </li>
                            <li><a href="https://www.linkedin.com/company/coficab-tunisia"> <i class="fa fa-linkedin"></i></a> </li>
                            <li><a href="https://www.youtube.com/channel/UCCNDTduq7IH4vbPm27RnFKQ"> <i class="fa fa-youtube"></i></a> </li>
                        </ul>
                    </div>
                    <div class="job_location_wrap">
                        <div class="job_lok_inner">
                            <div id="map" style="height: 200px;"></div>
                            <script>
                              function initMap() {
                                var uluru = {lat: -25.363, lng: 131.044};
                                var grayStyles = [
                                  {
                                    featureType: "all",
                                    stylers: [
                                      { saturation: -90 },
                                      { lightness: 50 }
                                    ]
                                  },
                                  {elementType: 'labels.text.fill', stylers: [{color: '#ccdee9'}]}
                                ];
                                var map = new google.maps.Map(document.getElementById('map'), {
                                  center: {lat: -31.197, lng: 150.744},
                                  zoom: 9,
                                  styles: grayStyles,
                                  scrollwheel:  false
                                });
                              }
                              
                            </script>
                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap"></script>
                            
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

</body>