.job_details_area {
  .descript_wrap {


    .single_wrap {




      ul {
        list-style-type: disc;
        margin-left: 20px;

        li {
          color: #9d9a9a;
          line-height: 1.5;
          margin-right: 500px;
        }
      }
    }
  }
}
