<header class="header_area">
    <div class="container">
        <div class="row align-items-center">
           
        </div>
    </div>
</header>
<div class="img-bleu">
    <img src="assets/img/bleu-bg.jpg">
</div>

   
<div class="our-mission-is">
    <h5>Our</h5>
      <h1> MISSION IS</h1> 
    <p>To create cables for tomorrow’s automotive technologies, while offering innovative and competitive solutions to our clients. Meanwhile, we continue to be an employer of choice and a trustworthy partner to all our stakeholders.</p>
</div>





<div class="container-global">
<div class="container-title">
    <h5>Our</h5>
      <h1> VALUES</h1> 
</div>
<div class="container-values">
  <div class="passion">
    
    <h1>PASSION</h1>
    <h4>” We believe that what we do makes the difference and are proud of the place COFICAB made itself in the automotive industry.”</h4>
    <p>We are powered by an endless determination and self-discipline, which gives us the courage to embrace new perspectives and achieve long-term goals.</p>
    <p>We create an environment of innovation where we inspire each other to thrive.</p>
    <p>We value the learning impacts from both our successes and failures.</p>
    <p>We convey our enthusiasm and Passion for COFICAB in all situations.</p>
  </div>
  <div class="ETHICS">
    <h1>ETHICS</h1>
    <h4>We aim for the highest standards of ethical behavior in everything we do.</h4>
    <p>We expect from ourselves, the highest level of professionalism in our interactions with each other, customers, stakeholders, community, and the environment in which we operate.</p>
    <p>We conduct our affairs in a legal and compliant manner within a relationship of mutual respect, based on trust, honesty, humility and integrity.</p>
    <p>We always make decisions and take action, based on the COFICAB Group’s general interest.</p>
  </div>
  <div class="COMMITMENT">
    <h1>COMMITMENT</h1>
    <h4>We are committed to do ordinary things extraordinarily well.</h4>
    <p>We are intensely focused on serving our customers beyond their satisfaction and on helping them achieve their Business Goals.</p>

  <p>  We set the standards, which become benchmarks for the automotive cable and wire industry.</p>
    
  <p>  We seek continuous improvement in all areas of our business and never accept second best.</p>
    
  <p>  We never compromise on quality, cost-effectiveness, safety, and environmental impact.</p>
    
   <p> We are quick to cope with change and overcome challenges with confidence.</p>
    
   <p> Our word is our bond.</p>
  </div>
  <div class="TEAMWORK">
    <h1>TEAMWORK</h1>
    <h4>We thrive together as one team towards an ultimate goal: maximizing the success of COFICAB.</h4>
   <p> We have confidence in each other’s capabilities and intentions, and we are readily sharing knowledge, experience, resources and best practices.</p>

    <p>We are honest and straight forward with each other: we speak up openly, give and receive constructive feedback.</p>

    <p>We cooperate with loyalty and trust across all COFICAB’s locations, departments, and levels.</p>

    <p>We respect team members’ personal values and cultures, which may be different from our own.</p>
  </div>

</div>
</div>