<body>
  <!-- Header Start -->
  <header class="header_area">
    <div class="container">
        <div class="row align-items-center">

        </div>
    </div>
</header>
<!-- Header End -->
<!-- popular_catagory_area_start  -->
  <div class="popular_catagory_area">
    <div class="container">
      <div class="row">
        <div *ngFor="let job of jobPosts" class="col-lg-4 col-xl-3 col-md-6">
          <div class="single_catagory">
            <h4>{{ job[0] }}</h4>
            <p> <span>{{ job[1] }}</span> Available position</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- popular_catagory_area_end  -->

</body>
